h1 {
    color: blue;
    font-size: 50px;
    background-color: blueviolet;
}

body {
    background-color: silver;
}

.c1 {
    color: rgb(141, 98, 211);
    font-size: 30px;
}

.c2 {
    color: rgb(14, 109, 109);
    font-size: 30px;
}

#c3 {
    color: blueviolet;
    font-size: 30px;
}

#c4 {
    color: red;
}

hr {
    background-color: rgb(119, 27, 27);
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(133, 205, 247);
    border-width: 10px;
    width: 50%;
}